# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# npmjs
/dist

# Environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# misc
.DS_STORE
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
__MACOSX

# IDE and editor directories
.idea/
.vscode/
.idea/
*.sublime-workspace
*.swp
*.swo

# OS files
.DS_STORE
.DS_Store
Thumbs.db
